<!-- templates/registration/login.html -->

{% extends 'base.html' %}
{% block css %}
{% load static %}
<style>
#link { color: #FFFFFF; } 
</style>
{% endblock %}


{% block title %}Log In{% endblock title %}


{% block content %}

<h2>Log In</h2>

<form method="POST">

    {% csrf_token %}

    {{ form.as_p }}


    <button class="btn btn-success ml-2" type="submit">Log In</button>
    <button class="btn btn-success ml-2"><a id="link" href="{% url 'password_reset' %}">Forgot Password?</a></button>

</form>

{% endblock content %}