<!-- templates/translation_detail.html -->

{% extends 'base.html' %}

{% block content %}

	<div class="translation-entry">

	<h2>{{ translation.title }}</h2>

		<p>by {{object.author }} | {{ object.date }} | {{ object.choice }}</p>

		<p>{{ translation.Input }} | </p>

	</div>
	
	<p><a href="{% url 'translation_edit' translation.pk %}">+ Edit Translation</a> |
            
		<a href="{% url 'translation_delete' translation.pk %}">+ Delete Translation</a></p>
	
	<p>Back to <a href="{% url 'translation_list' %}">All Translations</a>.</p>	

{% endblock content%}
