<!-- templates/translation_detail.html -->

{% extends 'base.html' %}
{% block css %}
{% load static %}
<style>
#link { color: #4CAF50; } 
</style>
{% endblock %}
	
{% block content %}

	<div class="translation-entry">

	<h2>{{ translation.title }}</h2>

		<p>by {{object.author }} | {{ object.date }} | {{ object.choice }}</p>

		<p>{{ translation.Input }} | {{ translation.Output }} </p>

	</div>
	
	
	<p><a id="link" href="{% url 'translation_edit' translation.pk %}">+ Edit Translation</a> |
            
		<a id="link" href="{% url 'translation_delete' translation.pk %}">+ Delete Translation</a></p>
	
	<p>Back to <a id="link" href="{% url 'translation_list' %}">All Translations</a>.</p>	

{% endblock content%}
